/* HEADER */

.main-container {
    max-width: 80vw; /*Mostrará 80% da tela.*/
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
    padding: 12px;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem; /*Unidade de medida relativa*/
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis; /*ELIPSIS serve pra mostrar somente o necessário do texto para o campo colocando ... no final do espaço.*/
    overflow: hidden;
    white-space: nowrap; /*Deixa o texto em uma linha só.*/
    outline: none;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700px;
    background-color: transparent;
    margin-right: 32px;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

  /* PLAYLIST */
  .playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
  }
  
  .playlist {
    margin: 24px;
  }
  
  .playlist #greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  
  .playlist .session {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  
  /* SCROLL */
  .offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
  }
  
  .offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* FIM SCROLL */
  
  .offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
  
    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto;
  }
  
  .cards {
    position: relative; 
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .cards span {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  
  /* COLOR CARDS */
  .card1 {
    background-color: rgb(0, 100, 80);
  }
  .card2 {
    background-color: rgb(132, 0, 231);
  }
  .card3 {
    background: rgb(30, 50, 100);
  }
  .card4 {
    background: rgb(140, 25, 50);
  }
  .card5 {
    background: rgb(232, 17, 91);
  }
  .card6 {
    background: rgb(83, 122, 161);
  }
  .card7 {
    background: rgb(142, 102, 172);
  }
  .card8 {
    background: rgb(20, 138, 8);
  }
  .card9 {
    background: rgb(30, 50, 100);
  }
  .card10 {
    background: rgb(233, 20, 41);
  }
  .card11 {
    background: rgb(80, 55, 80);
  }
  .card12 {
    background: rgb(216, 64, 0);
  }
  .card13 {
    background: rgb(186, 93, 7);
  }
  .card14 {
    background: rgb(0, 30, 80);
  }
  .card15 {
    background: rgb(60, 30, 80);
  }
  /* FIM COLOR CARDS */
  
  .offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
  }
  
  /* CARD ARTISTA */
  
  .artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap:24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 767px;
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }
  /* FIM CARD ARTISTA */

/* DESAFIO 03
.header__cards {
    background-color: #121212;
    color: #fff;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    display:block;
    justify-content: space-between;
    margin: 10px;
    height: 50em;
}

.header__cards .cards .title__cards .title{
    font-size: 35px;
}

.header__cards .cards .title__cards .subtitle{
    font-size: 25px;
}

/*.header__cards .cards__playlist {
    display:grid;
    justify-items:baseline;
    grid-template-columns: repeat((8, 1fr));
    gap: 10px; /* Espaçamento entre as imagenns
    margin-top: 30px;
}

.header__cards .cards .cards__playlist img {
    width: 30%; /* Faz com que as imagens ocupem toda a largura da coluna
    height: auto; /* Mantém a proporção da imagem
    transition: 0.8s;
    transition-delay: 0.3;
}

.header__cards .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); --Colunas responsivas
    gap: 16px; -- Espaçamento entre os cards
    padding: 16px; -- Espaçamento interno
    margin-top: 30px;
}

-- Estilo para cada card de playlist
.header__cards .cards__playlist {
    background-color: #181818; --Cor de fundo do card 
    border-radius: 8px; --Bordas arredondadas 
    overflow: hidden; --Para garantir que a imagem não ultrapasse o card 
    transition: transform 0.3s ease; --Efeito de hover
}

.header__cards .cards__playlist:hover {
    transform: scale(1.05); Efeito de zoom ao passar o mouse
}

/* Estilo para as imagens dentro dos cards
.header__cards .cards__playlist img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço do card
    height: auto; /* Mantém a proporção da imagem
    display: block; /* Remove espaços indesejados abaixo da imagem
} */